<%= form_with(model: moeda, local: true) do |form| %>
  <% if moeda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(moeda.errors.count, "error") %> prohibited this moeda from being saved:</h2>

      <ul>
      <% moeda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :cod %>
    <%= form.text_field :cod %>
  </div>

  <div class="field">
    <%= form.label :simbolo %>
    <%= form.text_field :simbolo %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
