<p id="notice"><%= notice %></p>

<h1>Moedas</h1>

<table>
  <thead>
    <tr>
      <th>Cod</th>
      <th>Simbolo</th>
      <th>Descricao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @moedas.each do |moeda| %>
      <tr>
        <td><%= moeda.cod %></td>
        <td><%= moeda.simbolo %></td>
        <td><%= moeda.descricao %></td>
        <td><%= link_to 'Show', moeda %></td>
        <td><%= link_to 'Edit', edit_moeda_path(moeda) %></td>
        <td><%= link_to 'Destroy', moeda, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Moeda', new_moeda_path %>
