<%= form_with(model: pagamento, local: true) do |form| %>
  <% if pagamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pagamento.errors.count, "error") %> prohibited this pagamento from being saved:</h2>

      <ul>
      <% pagamento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :data %>
  </div>

  <div class="field">
    <%= form.label :descricao %>
    <%= form.text_field :descricao %>
  </div>

  <div class="field">
    <%= form.label :valorPago %>
    <%= form.text_field :valorPago %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
