<p id="notice"><%= notice %></p>

<h1>Pagamentos</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Descricao</th>
      <th>Valorpago</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pagamentos.each do |pagamento| %>
      <tr>
        <td><%= pagamento.data %></td>
        <td><%= pagamento.descricao %></td>
        <td><%= pagamento.valorPago %></td>
        <td><%= link_to 'Show', pagamento %></td>
        <td><%= link_to 'Edit', edit_pagamento_path(pagamento) %></td>
        <td><%= link_to 'Destroy', pagamento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pagamento', new_pagamento_path %>
