<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= @pagamento.data %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @pagamento.descricao %>
</p>

<p>
  <strong>Valorpago:</strong>
  <%= @pagamento.valorPago %>
</p>

<%= link_to 'Edit', edit_pagamento_path(@pagamento) %> |
<%= link_to 'Back', pagamentos_path %>
